/*
RussBrooks.com Stylesheet
Author: Russell Brooks
*/
a:link {
	color: #ffd840;
}
a:visited {
	color: #c2a431;
}
a:hover {
	color: #e2d396;
}
a.home { background: url(/images/nav_home.gif) no-repeat; width: 73px; height: 30px; }
a.home:hover { background-position: 0px -30px; }

a.photographs { background: url(/images/nav_photographs.gif) no-repeat; width: 133px; height: 30px; }
a.photographs:hover { background-position: 0px -30px; }

a.portfolio { background: url(/images/nav_portfolio.gif) no-repeat; width: 104px; height: 30px; }
a.portfolio:hover { background-position: 0px -30px; }

a.links { background: url(/images/nav_links.gif) no-repeat; width: 70px; height: 30px; }
a.links:hover { background-position: 0px -30px; }

a.bio { background: url(/images/nav_bio.gif) no-repeat; width: 54px; height: 30px; }
a.bio:hover { background-position: 0px -30px; }

a.colophon { background: url(/images/nav_colophon.gif) no-repeat; width: 104px; height: 30px; }
a.colophon:hover { background-position: 0px -30px; }
/*
a.users { background: url(/images/nav_users.gif) no-repeat; width: 70px; height: 30px; }
a.users:hover { background-position: 0px -30px; }
*/
a#current { background-position: 0px -60px; }

abbr, acronym {
	cursor: help;
	border-bottom: 1px dashed #ffd840;
}
body {
	background: #000;
	font: normal 9pt "Trebuchet MS", Verdana, "Lucida Grande", sans-serif;
	margin: 0;
}
code, pre {
	color: #eee;
	font-family: Monaco, Consolas, "Courier New", Courier, Monospace;
	font-size: 9pt;
}
input, select, textarea {
	color: #b4a877;
}
input, select {
	font: normal 9pt "Trebuchet MS", Verdana, "Lucida Grande", sans-serif;
}
textarea {
	font-family: Monaco, Consolas, "Courier New", Courier, Monospace !important;
	font-size: 9pt !important;
}
textarea#data, textarea#form-message {
	background-image: none !important;
	background-color: #13110d !important;
	background: #13110d !important;
	font-family: Monaco, Consolas, "Courier New", Courier, Monospace !important;
	font-size: 9pt !important;
}

fieldset {
	border: none;
	border-top: 1px solid #514937;
	margin: 1em 0;
}
fieldset div {
	margin-bottom: .5em;
	padding: 0;
	display: block;
}
fieldset div input.fieldNotReq, .field, .fieldTaken {
	width: 260px;
}
fieldset div input.field, fieldset div textarea, .field, .fieldTaken, div input {
	background: #13110d;
	border-top: 1px solid #0a0907;
	border-left: 1px solid #0a0907;
	border-bottom: 1px solid #504836;
	border-right: 1px solid #504836;
	padding: 1px;
	color: #ffe6ac;
}
.fieldTaken {
	background: #511;
}
fieldset div select.dropdown {
	background: #13110d;
	border-top: 1px solid #0a0907;
	border-left: 1px solid #0a0907;
	border-bottom: 1px solid #504836;
	border-right: 1px solid #504836;
	color: #ffe6ac;
}
fieldset div label {
	float: left;
	width: 125px;
	padding: 0 5px 0 0px;
}
fieldset div textarea {
	width: 100%;
}
fieldset div select {
	padding: 1px;
}
fieldset#login {
	border: 0;
	margin: 0;
}
fieldset#login div label {
	width: 70px;
}
fieldset#login div input, input#q {
	font-family: "Trebuchet MS", Verdana, "Lucida Grande", Sans-Serif;
	width: 120px;
}
input#q {
	margin-top: 5px;
	margin-left: 13px;
}
/* required fields - does not work in IE */
div.fieldReq, label.fieldReq, p.fieldReq {
	color: #fff7e6;
}
p.fieldReq {
	margin-top: 0px;
}
h1, h2, h3, h4 {
	color: #a5c5ba;
  /*  font-family: Georgia, Times New Roman, Times, Serif;*/
	font-weight: normal;
	margin-top: 12px;
}

h1, h2 {
	font-variant: small-caps;
	margin-bottom: 5px;
}
h3, h4 {
	color: #b1d3c7;
	font-variant: normal;
	margin-bottom: 4px;
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 12px;
}
* html h1, * html h2, * html h3, * html h4 {
	margin-top: 12px; /* IE 5/6 only. Star bug is fixed in IE 7. */
}
input.btn, button.btn {
	background-color: #5d573e;
	border: 1px solid;
	border-top-color: #aca172;
	border-left-color: #aca172;
	border-right-color: #423d2c;
	border-bottom-color: #423d2c;
	color: #eada9b;
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#beb17e',EndColorStr='#48442f');
}
input.btnred, button.btnred {
	background-color: #806d54;
	border: 1px solid;
	border-top-color: #aca172;
	border-left-color: #aca172;
	border-right-color: #47422f;
	border-bottom-color: #47422f;
	color: #600;
	font-family: 'Trebuchet MS', Helvetica, Sans-Serif;
	font-size: 11px;
	font-weight: bold;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#bfa47e',EndColorStr='#483e2f');
}
input.btnhov {
	border-top-color: #c63;
	border-left-color: #c63;
	border-right-color: #930;
	border-bottom-color: #930;
}
legend {
	color: #a5c5ba;
	font-size: 1.2em;
	padding-bottom: 6px;
}
p {
	margin-top: .75em;
	margin-bottom: .75em;
}
ul li {
	list-style-image: url(/images/bullet.gif);
}
table.figures {
	border-spacing: 1px;
}
table.figures td, table.figures th {
	padding: 4px 8px;
}
th, tr.tableHeader td, td.tableHeader {
	color: #d2b235;
	background: #5f5640;
	text-align: center;
	font-weight: bold;
}
tr.tableFooter td {
	background: #5f5640;
}
img {
	border: 0;
}
img.sidebar_subhead {
	margin-bottom: 2px;
}

#banner {
	background: #4f4a34;
	margin: 0 auto;
	width: 844px;
	padding: 8px 0 0 0;
	text-align: center;
}
img#bannerpic {
	background: #676044;
	padding: 6px;
}
img#break {
	float: left;
}
#content {
	background: url(/images/bg_content.gif) repeat-y;
	color: #d2c48b;
	clear: both;
	font: normal 9pt "Trebuchet MS", Verdana, "Lucida Grande", sans-serif;
	margin: 0 auto;
	overflow: auto;
	padding: 0px 30px 30px 40px;
	width: 774px;
}
#content strong {
	color: #ffeea9;
}
#content p, #content ol li, #content ul li {
	line-height: 1.6em;
	margin-bottom: .4em;
}
#content_top {
	background: #4f4a34;
	color: #b4a877;
	font: normal 10pt "Trebuchet MS", Verdana, "Lucida Grande", sans-serif;
	margin: 0 auto;
	width: 844px; 
}
#content_left {
	float: left;
	margin: 0;
	padding: 0 20px 0 0;
	width: 506px;
}
#feature {
	background: #4f4a34 url(/images/feature_whd_bg.jpg) no-repeat bottom left;
	color: #b4a877;
	float: left;
	font: normal 10pt "Trebuchet MS", Verdana, "Lucida Grande", sans-serif;
	line-height: 1.6em;
	width: 874px;
}
#featurepic {
	float: left;
}
#footer {
	background: #302a1e url(/images/footer.gif) no-repeat; 
	clear: both;
	color: #b4a877;
	font: normal 8pt "Trebuchet MS", Verdana, "Lucida Grande", sans-serif;
	margin: 0 auto; 
	padding: 25px 0 15px 0;
	text-align: center;
}
#maincenter {
	float: left;
	width: 355px;
}
#mainright {
	float: left;
	margin-top: 14px;
}
#nav {
	margin: 0 auto;
	height: 30px;
/*  width: 543px;*/
  width: 440px;
	z-index: 0;
}
#nav a {
	float: left;
	text-decoration: none;
	z-index: 1;
}
#bio_table td {
	line-height: 1.6em
}
#portfolio_table {
	float: left;
	font-size: 11px;
	margin: 0 27px 2px 0;
}
#portfolio_table td {
	padding: 3px 6px;
	vertical-align: top;
	line-height: 1.4em;
}
#sidebar_left {
	float: left;
	overflow: auto;
	width: 250px;
}
#sidebar_content {
	border-left: 1px solid #4f4a34;
	overflow: auto;
	padding-left: 15px;
	width: 505px;
}
#sidebar_right {
	float: left;
	margin: 10px 0 0 0;
	padding: 0 5px 5px 14px;
	width: 210px;
}
#sidebar_right ul {
	margin: 0px;
	padding-top: 2px;
	padding-left: 0px;
	padding-bottom: 20px;
	padding-right: 10px;
}
#sidebar_right li {
	font-size: 8pt;
	list-style: none outside;
	line-height: 1.7em;
	margin-left: 14px;
	margin-right: 20px;
	color: #58533C;
}
html>body #random { margin-top: 19px; }

img#randompic {
	background: #968c63;
	border: 6px solid #676044;
	margin-right: 27px;
	margin-bottom: 2px;
	padding: 1px;
}
#slider {
	background: url(/images/nav_location.gif) no-repeat bottom center;
	position: absolute;
	width: 21px;
	height: 7px;
	z-index: 2;
}
#vert_div_photo {
	float: left;
	margin: 0 0 20px 20px;
}
#vert_div_archive {
	float: left;
	margin-top: 14px;
	margin-left: 0px;
}
#wrap {
	background: #302a1e url(/images/masthead.jpg) no-repeat; 
	border-left: 1px solid #594e37;
	border-right: 1px solid #0c0a08;
	margin: 0 auto;
	padding-top: 85px;
	width: 904px;
}
div.comment {
	background: #252219;
	border: solid 1px #332e23;
	padding: 6px;
	margin: 8px 0;
	width: 464px;
}
div.comment p.author {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
}
p.feature {
	margin-top: 8px;
	margin-bottom: 0;
}
html>body p.feature {
	margin-top: 10px;
}

/*************************************
 +Entry
 *************************************/
.entry {
	margin-bottom: 3em;
}
.entrymeta {
	font-size: 0.9em;
}
.read_more {
  margin: 6px 0 20px 0 !important;
}
.postedby, .filedto, .commentslink {
	margin-left: 10px;
	padding: 3px;
	padding-left: 20px;
}
.postedby {
	background: url(/images/icon_user.gif) center left no-repeat;
}
.filedto {
	background: url(/images/icon_folder.gif) center left no-repeat;
}
.commentslink {
	background: url(/images/icon_comments.gif) center left no-repeat;
}
/*
#sidebar ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#sidebar ul li {
	border-bottom:1px dotted #ddd;
	margin-bottom:0.3em;
	padding:0.3em;
}

.commentsblock {
	margin: 0.5em;
	padding: 1em;
}
.commentsblock textarea, textarea {
	width: 35em;
	font-family: Monaco, Consolas, Courier New, Courier, Mono;
	font-size: 9pt;
}
.commentsblock input, .commentsblock textarea {
	border:1px solid #d1d1d1;
}
.commentsblock textarea:focus {
	background:#eee;
	border:1px solid #a1a1a1;
}
.commentsblock textarea:focus, .commentsblock input:focus {
	background:#eee;
	border:1px solid #a1a1a1;
}
*/
textarea:focus, .commentsblock input:focus {
	background: #1f1b15;
}
.commentauthor {
	display: block;
	font-size: 1.5em;
}
ol.commentlist {
	list-style-type: none;
	margin: 0;
	margin-top: 1.5em;
	padding: 0;
}
.commentlist li {
	margin-bottom: 0.5em;
	padding: 0.5em 1em;
}
.alt {
	background: #f3f5e9;
	border: 1px dotted #d1d1d1;
	padding: 0.5em;
}
h3#comments {
	font-size: 1.4em;
}

.row, tr.row td {
	background: #2d291e;
}
.altrow, tr.altrow td {
	background: #3b3528;
}
.date, .typo_date, .auth {
	color: #615b40;
	margin-top: 0;
}
div.comment p {
	margin-top: 0px;
}
.disabled {
	color: #9f8f6b;
	background: #16140f;
	border: 0px solid #2d281f;
}
.error {
	color: #ff922b;
}
.fineprint {
	color: #9c9267;
	font-size: 11px;
}
img.photo {
	background: #968c63;
	border: 6px solid #676044;
	margin: 9px 0;
	padding: 1px;
}
.nodeSelected {
	background: #4f4a34;
}
.nodeSelected a {
	margin: 0 9px;
}
.nodeSelected a:link {
	color: #a5c5ba;
}
.nodeSelected a:hover {
	color: #e2d396;
}
pre.twilight {
	background: #13110d !important;
	color: #e7e1c7;
	font-size: 10px;
	border: 1px solid #504836;
	padding: 6px;
}
